th {
  min-width: 10%;
}
.matrix-container{
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
}
table{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
::ng-deep.td-general-styling {
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}
.pl-1r{
  padding-left: 1rem;
}
.ml-1r{
  margin-left: 1rem;
}
.flex{
  display: flex;
}
.select {
  padding: 0.6rem;
  width: fit-content;
}
select:focus {
  outline: none;
}
select#myDropdown {
  font-size:1rem!important;
}
