<table>
  <tr>
    <th colspan="6" scope="colgroup"></th>
    <th colspan="2" scope="colgroup">Smart commits</th>
    <th colspan="2" scope="colgroup">Literate commits</th>
  </tr>
  <tr>
    <th scope="col">Component<p></p></th>
    <th scope="col">files<p>#</p></th>
    <th scope="col">lines<p>x1000</p></th>
    <th scope="col">commits<p>#</p></th>
    <th scope="col">start date<p>yyyy-mm</p></th>
    <th scope="col">latest date<p>yyyy-mm</p></th>
    <th scope="col">all commits<p>%</p></th>
    <th scope="col">recent commits<p>%trend</p></th>
    <th scope="col">all commits<p>%</p></th>
    <th scope="col">recent commits<p>%trend</p></th>
  </tr>
  <tr>
    <td >spring-kafka.config</td>
    <td>22</td>
    <td>6</td>
    <td>220</td>
    <td>2016-03</td>
    <td>2022-03</td>
    <td>60</td>
    <td>82</td>
    <td>87</td>
    <td>86</td>
  </tr>

</table>


<div id="showTable" style="margin-top: 4rem"></div>


